{
  "extends": [
    "next",
    "next/core-web-vitals",
    "airbnb-typescript",
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    "max-len": ["error", {
      "code": 100,
      "ignoreComments": true,
      "ignoreUrls": true,
      "ignoreRegExpLiterals": true
    }]
  }
}
